/*--------------------------------------------------------------
## FAQ Styles
--------------------------------------------------------------*/

/* If you do not already have FontAwesome installed in your theme, make sure, it is included! Otherwise you will not see any symbols. */

h2.faq-main-title {
  font-size: inherit;
  font-weight: 600;
  margin-top: 0.5em;
}
h3.faq-title{
  position: relative;
  font-weight: 400;
  font-size: 20px;
  display: block;
  cursor: pointer;
  margin-bottom: 0;
}
.faq-title::after, .faq-title.close-faq::after{
  font-family: 'FontAwesome';
  position: absolute;
  right: 1em;
}
.faq-title::after{
  content: "\f067";
}
.faq-title.close-faq::after{
  content: "\f068";
}
.faq-content{
  display: none;
}
.faq-entry {
  margin-bottom: 1em;
}